streamlit>=1.46.0

fastapi>=0.116.0
uvicorn[standard]>=0.35.0

langchain>=0.3.27
langchain-core>=0.3.75
langchain-community>=0.3.27
langchain-mistralai>=0.2.11
langgraph>=0.6.7

tavily-python>=0.7.11

beautifulsoup4>=4.13.4
lxml>=6.0.2
requests>=2.32.5

sqlalchemy>=2.0.43
psycopg2-binary>=2.9.10

python-dotenv>=1.1.1

pydantic>=2.11.7

rich>=14.1.0